:root {
    --colour-surface: #E6D8A3;
    --accent-colour: #5B7FA6;
    --text-color: black;
    --background-color: #0F172A;

    --border-sm: 4px ;
    --border-md: 8px;
    --border-lg: 16px;
    
    --margin-sm: 1rem;
    --margin-md: 3rem;
    --margin-lg: 6rem;
}

body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--text-colour);
    font-family: "Inter", system-ui, sans-serif; 
}

#main-content {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
}

#bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 0; 
}

.heading {
    font-size: 5rem;
    margin: 10px;
}

#inner-content{
    padding: var(--margin-sm);
    border-radius: var(--border-lg);
    background-color: var(--colour-surface);
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start {
    padding: var(--margin-sm) var(--margin-md) var(--margin-sm) var(--margin-md)
}

#start {
    font-weight: 800;
    font-size: 1rem;
    border-radius: var(--margin-sm);
    background-color: var(--accent-colour);
}

#pokemon-img {
    height: 50rem;
    margin: var(--margin-md);
    border-radius: var(--border-sm);
}